/*PORTFOLIO STYLES

Color Palette: https://coolors.co/aafac8-297373-86cd82-e6e6e6-39393a
Magic Mint: #aafac8
Mrytle Green: #297373
Pistachio: #86cd82
Platinum: #e6e6e6
Onyx: #39393a



*******************************************************/



/* GLOBAL STYLES
******************************************************/
body {
  background-color: #e6e6e6;

}
h1 {
  font-family: 'Great Vibes', cursive;
}

h2, h3 {
  font-family: 'Kanit', sans-serif;
}

p, li, a {
  font-family: 'Raleway', sans-serif;
}

.wrap {
  line-height: 0.7;
}

a{

  color: #598956;
  text-decoration: none;
}

a:hover {
  text-decoration-style: solid;
  text-decoration-color: #598956;
  color: #598956;
}

.content-wrap {
  padding-top: 50px;
  padding-bottom: 75px;
}

.content-wrap .container {
  padding-top: 50px;
}

.dropdown-item .active {
  background-color: green;
}


.fixed-top{
  float: left;
  left: auto;
  top: 20px;
  right: 20px;
}

nav .dropdown .dropdown-menu a:active, nav .dropdown .dropdown-menu a:hover {
    color: white;
    background-color : #598956;
}

nav .dropdown .btn {
  background-color: #39393a
}

/* ABOUT
*****************************************************/
header {
  background-color: #39393a;
  color: #e6e6e6;
  margin: auto;
  padding-bottom: 50px;

}

header .title h1 {
  font-size: 5rem;
  border-bottom: double;
}

header .title h2 {
  font-size: 2rem;
}

header .container {
  padding-top: 30px;
}

header nav {
  visibility: hidden;
}





/* EDUCATION
******************************************************/


/* SKILLS
******************************************************/
#skills {
  background-color: #86cd82;

}


/* PROJECTS
******************************************************/



/* WORK EXPEPRIENCE
*****************************************************/

.work {
  background-color: #8cd790;
}

.work a{
  color: #d7fff1;
  text-decoration: none;
}

.work a:hover{
  text-decoration: solid;
  text-decoration-color: #d7fff1;
  color: #d7fff1;

}

.volunteer {
    background-color: #e6e6e6;
}

/* CONTACT
*****************************************************/
footer {
  background-color: #39393a;
  color: #e6e6e6;

}

footer .content-wrap {
  padding-top: 50px;
  padding-bottom: 10px;
}

footer .container {
  padding: 50px;

}

footer .nav-item:hover {
    background-color: white;
    color: black;
}

footer a:hover {
  color: #598956;
  text-decoration: none;
}
/* RESPONSIVE STYLES
******************************************************/
@media screen and (min-height: 475px) {
  nav .dropdown .dropdown-menu a {
    font-size: 0.75rem;
  } 
}

@media screen and (min-width: 700px) and (min-height: 410px) {
  header nav {
    visibility: visible;
  }

}

@media screen and (min-width: 992px) {
  
  nav .dropdown .dropdown-menu a {
    font-size: 1rem;
  } 
 
  header p {
    width: 50%;

  }

  header .first {
    border-right: solid;
    padding-right: 25px;
  }

  header .second {
    padding-left: 25px;
  }

  #education .school{
    width: 50%;
    align-self: center;
  }

  #education .degree {
    width: 50%;
    border-left: solid;
    padding-left: 50px;
  }


  .work ul {
    list-style-type: none;
  }

  .work li {
    padding: 10px;
  }
  .work .company {
    width: 50%;
    align-self: center;

  }
  .work .work-description {
    width: 50%;
    border-left: solid;
  }

}


@media screen and (max-width: 599px) {
  

  header .title h1 {
    font-size: 3rem;
  }

  header .title h2, div h2 {
    font-size: 1.5rem;
  }

  .h4, h3 {
    font-size: 1.25rem;
  }

  a , p , li, a.btn {
    font-size: 0.75rem;
  }


}
